@import "tailwindcss";

@theme {
  --color-background: rgb(56, 133, 138);
  --color-background-light: rgb(70, 147, 152);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}